In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#This code has the objective of upload files to cloud storage

import os
from google.cloud import storage
import pandas as pd
os.environ['GOOGLE_APPLICATION_CREDENTIALS'] = '/content/drive/MyDrive/Colab Notebooks/Fifa World Cup - EDA/keys/service-fifa-lg.json'
files = os.listdir('/content/drive/MyDrive/Colab Notebooks/Fifa World Cup - EDA/data')
bucket_name = 'fifa_project'

In [ ]:

def list_blobs(bucket_name):
    """Lists all the blobs in the bucket."""
    storage_client = storage.Client()
    blobs = storage_client.list_blobs(bucket_name)
    return [blob.name for blob in blobs]

def upload_blob(bucket_name, source_file_name, destination_blob_name):
    """Uploads a file to the bucket."""
    storage_client = storage.Client()
    bucket = storage_client.bucket(bucket_name)

    try:
        # Check if the destination blob already exists in the bucket
        if destination_blob_name in list_blobs(bucket_name):
            print(f"File {destination_blob_name} already exists in the bucket. Skipping upload.")
        else:
            blob = bucket.blob(destination_blob_name)
            blob.upload_from_filename(source_file_name)
            print(f"File {source_file_name} uploaded to {destination_blob_name}.")
    except Exception as e:
        print(f"An error occurred while uploading {source_file_name} to {destination_blob_name}: {e}")
    finally:
      # Close the client connection to release resources
        storage_client.close()

In [ ]:
for file in files:
    destination_blob = f'raw_data/{file}'
    source_file = f'/content/drive/MyDrive/Colab Notebooks/Fifa World Cup - EDA/data/{file}'
    upload_blob(bucket_name, source_file, destination_blob)

File raw_data/WorldCupPlayers.csv already exists in the bucket. Skipping upload.
File raw_data/WorldCups.csv already exists in the bucket. Skipping upload.
File raw_data/WorldCupMatches.csv already exists in the bucket. Skipping upload.

In [ ]:
df = pd.read_csv('gs://fifa_project/raw_data/WorldCupPlayers.csv')

In [ ]:
df

,RoundID,MatchID,Team Initials,Coach Name,Line-up,Shirt Number,Player Name,Position,Event
0,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Alex THEPOT,GK,NaN
1,201,1096,MEX,LUQUE Juan (MEX),S,0,Oscar BONFIGLIO,GK,NaN
2,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Marcel LANGILLER,NaN,G40'
3,201,1096,MEX,LUQUE Juan (MEX),S,0,Juan CARRENO,NaN,G70'
4,201,1096,FRA,CAUDRON Raoul (FRA),S,0,Ernest LIBERATI,NaN,NaN
...,...,...,...,...,...,...,...,...,...
37779,255959,300186501,ARG,SABELLA Alejandro (ARG),N,19,ALVAREZ,NaN,NaN
37780,255959,300186501,GER,LOEW Joachim (GER),N,6,KHEDIRA,NaN,NaN
37781,255959,300186501,ARG,SABELLA Alejandro (ARG),N,20,AGUERO,NaN,IH46' Y65'
37782,255959,300186501,GER,LOEW Joachim (GER),N,21,MUSTAFI,NaN,NaN
37783,255959,300186501,ARG,SABELLA Alejandro (ARG),N,23,BASANTA,NaN,NaN